*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
facelibrary/src/main/assets/align_2.0.2.anakin.bin
facelibrary/src/main/assets/attribute_anakin_2.0.2.bin
facelibrary/src/main/assets/blur_2.0.2.binary
facelibrary/src/main/assets/detect-rgb-015_2.lite_anakin.bin
facelibrary/src/main/assets/detect_nir_2.0.2.model
facelibrary/src/main/assets/emotion_anakin_2.0.2.bin
facelibrary/src/main/assets/enc_fsp_fc128_160_pytorch.cfg
facelibrary/src/main/assets/faceexample-face-android-1
facelibrary/src/main/assets/liveness_depth_anakin_2.0.2.bin
facelibrary/src/main/assets/liveness_nir_anakin_2.0.2.bin
facelibrary/src/main/assets/liveness_rgb_anakin_2.0.2.bin
facelibrary/src/main/assets/occlu_anakin_2.0.2.bin
facelibrary/src/main/assets/recognize_idcard.cfg
facelibrary/src/main/assets/recognize_live.cfg
facelibrary/src/main/assets/recognize_rgb_idcard_pytorch_anakin_2.0.2.bin
facelibrary/src/main/assets/recognize_rgb_live_pytorch_anakin_2.0.2.bin
facelibrary/src/main/assets/remove_texture.model_fix
facelibrary/src/main/assets/super_resolution.model_fix
app/debug/output.json
app/release/NondaFace_v1.0.1.apk
app/release/output.json
