<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="us.nonda.ai">



    <application
            android:name=".app.base.NondaApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".app.ui.AccActivity"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".app.ui.VideoRecordActivity"
                  android:screenOrientation="landscape"
              >
        </activity>
        <activity android:name=".MainActivity"
                >
<!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
-->
        </activity>
        <service android:name="us.nonda.mqttlibrary.mqtt.MqttService"/>
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <receiver android:name=".app.receiver.AccBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".app.receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".app.receiver.IPOBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BOOT_IPO"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN_IPO"/>
            </intent-filter>
        </receiver>


        <service android:name=".app.service.SensorReportService"/>

    </application>

</manifest>